doctype html
html(lang='zh')
  head
    title JSDC 2016
    //- html 設定
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    //- SEO meta 設定
    meta(name='description', content='This year, JSDC is breaking the barriers by integrating the technical power from independent developers, enterprises, framewords, architectures, and practices.')
    meta(name='keywords', content='website, javascript, js, JSDC')
    meta(name='author', content='jsdc member')
    meta(property='og:title', content='JSDC 2016')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://2016.jsdc.tw')
    meta(property='og:image', content='http://2015.jsdc.tw/images/og.png')
    meta(property='og:description', content='This year, JSDC is breaking the barriers by integrating the technical power from independent developers, enterprises, framewords, architectures, and practices.')
    meta(property='og:site_name', content='JSDC 2016')

    //- css 設定
    link(rel='shortcut icon', href='./dist/favicons/favicon.ico')
    link(rel='stylesheet', href='./dist/css/bootstrap.css')
    link(rel='stylesheet', href='./dist/css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='./dist/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic', rel='stylesheet', type='text/css')

    //- js 設定
    script(src='./dist/js/jquery-1.11.2.min.js')
    script(src='./dist/js/bootstrap.min.js')
    script(src='./dist/js/jquery.backstretch.min.js')
    script(src='./dist/js/jquery.lazyload.min.js')
    script(src='./dist/js/smooth-scroll.min.js')
    script(src='./dist/js/skel.min.js')
    script(src='./dist/js/util.min.js')
    script(src='./dist/js/main.min.js')

  body

    block content

    include ../partials/_footer
