#footer {
  .copyright {
    font-size: 5vw;
    list-style: none;
    padding: 0;

    a{
      color: $jsdc-y - #222;
      &:hover{
        color: $jsdc-y;
        text-decoration: none;
      }
    }
  }
}
