$screen-md-min: 992px;
$screen-sm-min: 768px;
/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-sm-min) {
@media (max-width: $screen-sm-min) {
  /* About */
  #about {
    padding: 80px 0 0;
    #about-jsdc {
      .major {
        text-align: left;
        h2 {
          font-size: 32px;
        }
      }
    }
    p {
      font-size: 16px;
      margin: 0;
    }
    .image {
      margin-top: 60px;
    }
    .row + .row {
      .major {
        h2 {
          font-size: 32px;
        }
      }
      p {
        font-size: 18px;
      }
      .image {
        padding-top: 40px;
        margin: 0;
      }
    }
  }
  /* Speaker */
  #speaker {
    padding: 80px 0;
    .button {
      width: 70vw;
    }
    #speaker-line {
      &:after {
        height: 80px;
      }
    }
  }
  /* Last JSDC */
  #last-year {
    padding: 0;
    .last-content {
      position: relative;
      z-index: 1;
      padding: 100px 10% 0;
      .major {
        letter-spacing: 5px;
        font-size: 32px;
      }
      .button {
        box-shadow: inset 0 0 0 1px white;
        display: block;
        font-size: 18px;
        &:hover {
          background-color: rgba($jsdc-y, 1);
          box-shadow: inset 0 0 0 0 $jsdc-g;
          text-decoration: none;
          color: white;
        }
      }
    }
    .last-photo {
      background-image: url('../images/jsdc-last-photo.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      height: 45vh;
      &:after {
        background-image: linear-gradient(90deg, #EDDE5D, #F09819);
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    .last-video {
      background-image: url('../images/jsdc-last-video.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      height: 45vh;
      &:after {
        background-image: linear-gradient(90deg,#F09819,#EDDE5D);
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    .col-xs-12 + .col-xs-12 {
      margin-top: 1px;
    }
  }

  // Header
  #header {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 100vh;
    padding: 30% 5% 0;
    .title {
      height: 45vh;
      h1,
      h2,
      h5 {
        text-shadow: 0 2px 5px #777;
        color: white;
        margin: 0;
      }
      h1 {
        font-size: 12vw;
      }
      h2 {
        font-size: 7vw;
        padding: 5vw 2vw;
      }
      h5 {
        font-size: 1vw;
        line-height: 8vw;
      }
    }
    p {
      margin: 10px 0 0;
      font-size: 7vw;
      line-height: 15vw;
    }
    span{
      font-size: 5vw;
      color: #F5F5F5;
      i{
        margin-right: 10px;
      }
    }
  }
  // Footer
  #footer {
    .copyright {
      font-size: 5vw;
    }
  }
  // Sponsor
  #sponsor{
    .major h2{
      font-size: 7vw;
    }
    .button{
      font-size: 5vw;
      width: 80vw;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  // #header {
  //   @include padding(7em, 0, (0,0,_size(element-margin),0));
  //   overflow: hidden;
  //   position: relative;
  //   text-align: center;
  //   height: 100vh;
  //   h1, h2, h5 {
  //     margin: 0;
  //     font-size: 6em;
  //     color: white;
  //     text-shadow: 0px 2px 5px #777;
  //   }
  //   h2 {
  //     font-size: 2em;
  //   }
  //   h5 {
  //     font-size: 1em;
  //     line-height: 4em;
  //   }
  //   p {
  //     margin: 10px 0 0;
  //     font-size: 1.4em;
  //     line-height: 2.5em;
  //     color: white;
  //   }
  //   span{
  //     font-size: 1.2em;
  //     color: #F5F5F5;
  //     i{
  //       margin-right: 10px;
  //     }
  //   }
  //   .actions {
  //     margin: (_size(element-margin) * 1.25) 0 0 0;
  //     position: relative;
  //     .button{
  //       color: white;
  //       box-shadow: inset 0 0 0 1px white;
  //       &:visited{
  //         color: white;
  //         text-decoration: none;
  //       }
  //       &:hover{
  //         color: #777;
  //         text-decoration: none;
  //       }
  //     }
  //     &:after {
  //       background: _palette(dark, border);
  //       content: '';
  //       height: 100vh;
  //       left: 50%;
  //       position: absolute;
  //       top: 100%;
  //       width: 1px;
  //     }
  //   }
  //   .inner {
  //     @include vendor('transition', ('transform 1.5s ease', 'opacity 2s ease'));
  //     @include vendor('transition-delay', '0.25s');
  //     @include vendor('transform', 'scale(1)');
  //     opacity: 1;
  //     position: relative;
  //     z-index: 1;
  //     .actions {
  //       @include vendor('transition', 'transform 1.25s ease');
  //       @include vendor('transition-delay', '1s');
  //       @include vendor('transform', 'translateY(0)');
  //       opacity: 1;
  //     }
  //   }
  //   &:after {
  //     @include vendor('transition', 'opacity 1s ease');
  //     background-image: linear-gradient(135deg, #EDDE5D, #F09819);
  //     content: '';
  //     height: 100%;
  //     left: 0;
  //     opacity: 0.9;
  //     position: absolute;
  //     top: 0;
  //     width: 100%;
  //   }
  // }
}
