$screen-xs: 425px;
$screen-sm: 768px;
$screen-md: 992px;

/* Medium devices (tables, 425px and up) */
@media (min-width: $screen-xs) {
  
  /* Header */
  #header {
    padding: 15vh 0;
    .title {
      h1 {
        font-size: 12vw;
      }
      h2 {
        font-size: 4vw;
        padding: 3% 0;
      }
      h5 {
        line-height: 7vw;
        
        span{
          font-size: 3.5vw;
        }
      }
    }
    
    p {
      font-size: 3.5vw;
      line-height: 7vw;
    }
    span{
      font-size: 3vw;
    }

    .actions {
      margin-top: 7%;
      
      .button{
        font-size: 2.5vw;
      }
    }
  }
  
  /* About */
  #about{
    padding: 80px 40px 0;

    #about-jsdc{
      padding: 60px 20px;
      margin: 0 3%;

      .major{
        h2{
          font-size: 8vw;
        }
      }
    }

    p{
      font-size: 3.8vw;
      line-height: 8vw;
    }

    .row + .row{

      .major {
        h2{
          font-size: 7vw;
        }
        &:after {
          background: $jsdc-r;
        }
      }

      p{
        color: $jsdc-r;
        text-align: center;
        font-size: 4vw;
        line-height: 8vw;
      }
    }

    #about-line{
      &:after {
        height: 80px;
      }
    }
  }
  
  /* Speaker */
  #speaker{
    padding: 80px 0;

    .typeform-button {
      margin: 0 5%;
      font-size: 4vw;
    }

    #speaker-line{
      &:after {
        height: 80px;
      }
    }
  }
  
  /* Last JSDC */
  #last-year{
    padding: 0;

    .last-content{
      padding: 15vh 8% 0;
      .major{
        font-size: 5vw;
      }
      .button{
        font-size: 2vw;
      }
    }
  }
  
  /* Sponsor */
  #sponsor{
    padding: 80px 0;
    .major {
      h2{
        font-size: 7vw;
      }
    }
    .typeform-button {
      font-size: 4vw;
    }
    #sponsor-line{
      top: 59%;
    }
  }
}

/* Medium devices (tables, 768px and up) */
@media (min-width: $screen-sm) {
  
  /* About */
  #about{
    padding: 80px 0 0;

    #about-jsdc{
      padding: 60px 40px;

      .major{
        h2{
          font-size: 6vw;
        }
      }
    }

    p{
      font-size: 2.8vw;
      line-height: 6vw;
    }

    .row + .row{

      .major {
        h2{
          font-size: 6vw;
        }
      }

      p{
        padding: 0 5%;
        font-size: 3vw;
        line-height: 6vw;
      }
    }
  }
  
  /* Speaker */
  #speaker{
    padding: 80px 0;

    .typeform-button {
      margin: 0 5%;
      font-size: 2.8vw;
    }

    #speaker-line{
      &:after {
        height: 80px;
      }
    }
  }
  
  /* Sponsor */
  #sponsor{
    padding: 80px 0;
    .major {
      h2{
        font-size: 6vw;
      }
    }
    .typeform-button {
      font-size: 2.8vw;
    }
    #sponsor-line{
      top: 61%;
    }
  }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  
  /* Header */
  #header {
    padding: 12vh 0;
    .title {
      h1 {
        font-size: 8.5vw;
      }
      h2 {
        font-size: 2.5vw;
        padding: 3% 0;
      }
      h5 {
        line-height: 5vw;
        span{
          font-size: 2vw;
        }
      }
    }
    
    p {
      margin: 5% 0 0;
      font-size: 2vw;
      line-height: 5vw;
    }
    span{
      font-size: 1.5vw;
    }

    .actions {
      margin-top: 3%;
      
      .button{
        font-size: 1.5vw;
      }
    }
  }
  
  /* About */
  #about{
    padding: 120px 0 0;
    
    #about-jsdc{
      padding: 80px 60px;

      .major{
        text-align: left;
        h2{
          font-size: 3vw;
        }
      }
    }

    p{
      font-size: 1.4vw;
      line-height: 3vw;
      margin-bottom: 0;
      padding-right: 5%;
    }

    .row + .row{
      padding-top: 80px;
      
      .major {
        h2{
          font-size: 3vw;
        }
      }

      p{
        padding: 0 5%;
        font-size: 1.5vw;
        line-height: 3vw;
      }
    }
    #about-line{
      &:after {
        height: 120px;
      }
    }
  }
  
  /* Speaker */
  #speaker{
    padding: 100px 0;

    .typeform-button {
      margin: 0 2%;
      font-size: 20px;
    }

    #speaker-line{
      &:after {
        height: 100px;
      }
    }
  }
  
  /* Last JSDC */
  #last-year{
    padding: 0;

    .last-content{
      padding: 12vh 8% 0;
      .major{
        font-size: 3.8vw;
      }
      .button{
        font-size: 1.4vw;
      }
    }
  }
  
  /* Sponsor */
  #sponsor{
    padding: 80px 0;
    .major {
      h2{
        font-size: 3vw;
      }
    }
    .typeform-button {
      font-size: 20px;
    }
    #sponsor-line{
      top: 60%;
    }
  }
}
