$screen-xs: 425px;
$screen-sm: 768px;
$screen-md: 992px;

/* Medium devices (tables, 425px and up) */
@media (min-width: $screen-xs) {
  
  /* Header */
  #header {
    padding: 15vh 40px 0;

    .title {
      height: 48vh;
      
      h2 {
        padding: 5% 0;
      }
    }

    .actions {
      margin-top: 7%;
    }
  }

  /* News */
  #news{
    padding: 80px 20px 0;
    
    #news-line{
      &:after {
        height: 80px;
      }
    }
  }

  /* About */
  #about{
    padding: 80px 20px 0;

    #about-line{
      &:after {
        height: 80px;
      }
    }
  }
  
  /* Speaker */
  #speakers{
    padding: 60px 20px;
    
    .speakers-container{
      padding: 40px;
    }
  }
  
  /* location */
  #location{
    padding: 60px 20px;
  }
  
  /* Sponsor */
  #sponsor{
    padding: 60px 20px;
  }
}

/* Medium devices (tables, 768px and up) */
@media (min-width: $screen-sm) {
  
  #header {
    padding: 12vh 0;
    
    .title {
      height: 50vh;
    }

    .actions {
      margin-top: 7%;
    }
  }
  
  /* News */
  #news{
    padding: 80px 0 0;
    
    .news-wrapper{
      padding: 60px 40px 40px;

      .news-container{
        display: table;
        
        .news{
          display: table-row;
          border-spacing: 5px;
          
          .date{
            display: table-cell;
            vertical-align: middle;
            width: 80px;
            span{
              display: block;
            }
          }
          
          .news-content{
            display: table-cell !important;
            padding: 0 20px 5px 20px;
          
            .news-title{
              text-align: left !important;
              line-height: 2;
              padding: 0;
            }
          }
        }
      }
    }
  }
  
  /* About */
  #about{
    padding: 80px 0 0;

    #what-is-jsdc{
      padding: 60px 40px 40px;
    }
  }
  
  /* Speaker */
  #speakers{
    padding: 60px 0;

    .speaker-nav{
      .owl-prev, .owl-next{
        width: 5% !important;
      }
      .speaker-button{
        width: 90% !important;
      }
    }
  }
  
  /* Location */
  #location{
    padding: 60px 0 60px 40px;
    
    .major, .info, .address {
      text-align: left;
    }
    
    .info{
      font-size: 24px;
      
      &.date{
        i{
          margin-right: 0 10px;
        }
      }
      
      &.spot{
        i{
          margin: 0 15px 0 5px;
        }
      }
    }
    .address{
      font-size: 18px;
    }
  }
  
  /* Sponsor */
  #sponsor{
    padding: 60px 0;
  }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  
  /* Header */
  #header {
    padding: 12vh 0;
    
    .title{

      h2 {
        font-size: 32px;
        padding: 40px 0;
      }
      
      h5 {
        span{
          font-size: 24px;
          color: white;
        }
      }
    }
    
    p {
      margin: 30px 0 0;
      font-size: 24px;
      line-height: 2;
    }
    span{
      font-size: 22px;
    }

    .actions {
      margin-top: 5%;
    }
  }
  
  /* News */
  #news{
    padding: 120px 0 0;
    
    .news-wrapper{
      padding: 60px 80px;
      
      .major{
        h2{
          font-size: 32px;
        }
      }
    }
    
    #news-line{
      &:after {
        height: 120px;
      }
    }
  }
  
  /* About */
  #about{
    padding: 120px 0 0;
    
    p{
      font-size: 18px;
      margin-bottom: 0;
      padding-right: 5%;
    }
    
    #what-is-jsdc{
      padding: 80px;

      .major{
        text-align: left;
        h2{
          font-size: 32px;
        }
      }
    }

    #about-jsdc{
      margin-top: 80px;
      
      .major {
        h2{
          font-size: 32px;
        }
      }

      p{
        padding: 0 5%;
        font-size: 20px;
        line-height: 2.5;
      }
    }
    
    #about-line{
      &:after {
        height: 120px;
      }
    }
  }
  
  /* Speaker */
  #speakers{
    padding: 80px 0;
    
    .major {
      h2{
        font-size: 32px;
      }
    }
    .speakers-container{
      padding: 40px;
    }
    
    .agenda-button{
      margin-top: 80px;
    }
    #agenda-line{
      &:after {
        height: 80px;
      }
    }
  }
  
  /* Location */
  #location{
    padding: 80px 0;
  }
  
  /* Sponsor */
  #sponsor{
    padding: 80px 0;
    .major {
      h2{
        font-size: 32px;
      }
    }
  }
}
