doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title JSDC 2016
    meta(name='description', content='This year, JSDC is breaking the barriers by integrating the technical power from independent developers, enterprises, framewords, architectures, and practices.')
    meta(name='keywords', content='website, javascript, js, JSDC')
    meta(name='author', content='jsdc member')
    meta(property='og:title', content='JSDC 2016')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://2016.jsdc.tw')
    meta(property='og:image', content='http://2015.jsdc.tw/images/og.png')
    meta(property='og:description', content='This year, JSDC is breaking the barriers by integrating the technical power from independent developers, enterprises, framewords, architectures, and practices.')
    meta(property='og:site_name', content='JSDC 2016')
    link(rel='shortcut icon', href='./dist/images/favicons/favicon.ico')
    link(rel='stylesheet', href='./dist/css/bootstrap.css')
    link(rel='stylesheet', href='./dist/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    block head
  body
    include header
    block content
    include footer
