extends ./layout/_en-layout.jade

block title
  title ABOUT｜JSDC 2016

block content

  include ./partials/_nav

  main.about-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 About JSDC 2016

    section#about
      #about-line
      .container
        #what-is-jsdc
          .row
            .col-xs-12.col-md-7
              header.major
                h2 What's JSDC ?
              p JSDC (JavaScript Developer Conference) is the only annual JavaScript conference in Taiwan. One goal of this conference is share and bring the greatest and latest JavaScript developments and technologies to various levels of JavaScript Developers.
            .col-xs-12.col-md-5
              img.image.img-responsive.lazy(data-original='/dist/images/jsdc-spot.jpg', alt='JSDC 2015 現場')

        #about-jsdc
          .row
            .col-xs-12.paragraph
              header.major.text-center
                h2 JavaScript Developers Conference
              p.text-center
                | JSDC breaks the barrier, and integrates the power from independent developers, enterprises, and organizations.
              p.text-center
                | We constantly put our endeavor in the globalization of knowledge, and help the attendees understand JavaScript in a different point of view.
            .col-xs-12
              img.image.fit.lazy(data-original='/dist/images/jsdc.jpg', alt='JSDC 2015 工作人員')

    script.
      (function($) {

        $('#nav-about').addClass('active');

        if ($('#about').length){
          $(document).scroll(function () {
            var dist = $('#about').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
