extends ./layout/_en-layout.jade

block title
  title AGENDA｜JSDC 2016

block content

  include ./partials/_nav
  
  main.agenda-page
  
    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 Agenda
            
    section#agenda-list
      .container
        .agenda-container
          #tabs
            ul
              li
                a(href='#day_1') Day 1 ( 10 / 22 )
              li
                a(href='#day_2') Day 2 ( 10 / 23 )
                
            #day_1
            
              table.table.table-hover.hidden-xs
                thead
                  tr
                    th(style="width:10%; min-width:80px") Time
                    th(style="width:45%") R0
                    th(style="width:45%") R2
                    
                tbody
                  tr
                    td
                      | 09:00
                      br
                      | |
                      br
                      | 9:30
                    td.break(colspan="2") 報到
                  
                  tr
                    td
                      | 09:30
                      br
                      | |
                      br
                      | 9:40
                    td.break(colspan="2") 大會開場
                  
                  tr
                    td
                      | 09:40
                      br
                      | |
                      br
                      | 10:30
                    td.colspan(colspan="2", data-balloon-pos='down', data-balloon-length='fit', data-title='Anglar2_Universal', data-balloon='')
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 Anglar 2 Universal
                        //- p by Hedger Wang
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                  tr
                    td
                      | 10:30
                      br
                      | |
                      br
                      | 10:50
                    td.break(colspan="2") 點心
                    
                  tr
                    td
                      | 10:50
                      br
                      | |
                      br
                      | 11:30
                    td(data-balloon-pos='down', data-balloon-length='fit', data-title='超融合React', data-balloon='')
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 超融合 React 
                        //- p by George Duan
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    //- td(data-balloon-pos='down', data-balloon-length='fit', data-title='專案技術挑選案例探討', data-balloon='')
                    td(data-balloon-pos='down', data-balloon-length='fit', data-title='專案技術挑選案例探討', data-balloon='')
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 JavaScript 專案技術挑選案例探討(TONYQ)
                        //- p by Yuren Ju
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube

                  tr
                    td
                      | 11:30
                      br
                      | |
                      br
                      | 12:20
                    td.break(colspan="2") 午餐
                    
                  tr
                    td
                      | 12:20
                      br
                      | |
                      br
                      | 13:10
                    td.colspan(colspan="2")
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 Thinkjs
                        //- p by Matt
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                  
                  tr
                    td
                      | 13:10
                      br
                      | |
                      br
                      | 13:30
                    td.break(colspan="2") 休息
                  
                  tr
                    td
                      | 13:30
                      br
                      | |
                      br
                      | 14:10
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 Weex 輕量級高性能跨終端框架
                        //- p by Will 保哥
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 TBD
                        //- p by Casear Chu
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube

                  tr
                    td
                      | 14:10
                      br
                      | |
                      br
                      | 14:40
                    td.break(colspan="2") 下午茶
                    
                  tr
                    td
                      | 14:40
                      br
                      | |
                      br
                      | 15:20
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 淺談使用 webdriverIO 開發 Web Test 網站自動化測試
                        //- p by 謝宗穎
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 TBD
                        //- p by 王唯達
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube

                  tr
                    td
                      | 15:20
                      br
                      | |
                      br
                      | 15:40
                    td.break(colspan="2") 休息

                  tr
                    td
                      | 15:40
                      br
                      | |
                      br
                      | 16:20
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 Universal JavaScript
                        //- p by Paul Li
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 TBD
                        //- p by Evan Tseng
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube

                  tr
                    td
                      | 16:20
                      br
                      | |
                      br
                      | 16:40
                    td.break(colspan="2") 休息

                  tr
                    td
                      | 16:40
                      br
                      | |
                      br
                      | 17:20
                    td(colspan="2")
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 panal
                        //- p by Paul Li
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    //- td
                    //-   img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                    //-   .speaker
                    //-     h6 TBD
                        //- p by Evan Tseng
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                  tr
                    td
                      | 17:20
                      br
                      | |
                      br
                      | 18:00
                    td.break(colspan="2") 散場

            #day_2

              table.table.table-striped.table-hover.hidden-xs
                thead
                  tr
                    th(style="width:10%; min-width:80px") Time
                    th(style="width:45%") R0
                    th(style="width:45%") R2
                    
                tbody
                  tr
                    td
                      | 09:00
                      br
                      | |
                      br
                      | 9:30
                    td.break(colspan="2") 報到
                  
                  tr
                    td
                      | 09:30
                      br
                      | |
                      br
                      | 9:40
                    td.break(colspan="2") 大會開場
                  
                  tr
                    td
                      | 09:40
                      br
                      | |
                      br
                      | 10:30
                    td.colspan(colspan="2", data-balloon-pos='down', data-balloon-length='fit', data-title='Anglar2_Universal', data-balloon='')
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 Vue.js
                        //- p by Hedger Wang
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                  tr
                    td
                      | 10:30
                      br
                      | |
                      br
                      | 10:50
                    td.break(colspan="2") 點心
                    
                  tr
                    td
                      | 10:50
                      br
                      | |
                      br
                      | 11:30
                    td(data-balloon-pos='down', data-balloon-length='fit', data-title='超融合React', data-balloon='')
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 React Native + Redux 簡單也不簡單
                        //- p by George Duan
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    //- td(data-balloon-pos='down', data-balloon-length='fit', data-title='專案技術挑選案例探討', data-balloon='')
                    td(data-balloon-pos='down', data-balloon-length='fit', data-title='專案技術挑選案例探討', data-balloon='')
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 TBD
                        //- p by Yuren Ju
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube

                  tr
                    td
                      | 11:30
                      br
                      | |
                      br
                      | 12:20
                    td.break(colspan="2") 午餐
                    
                  tr
                    td
                      | 12:20
                      br
                      | |
                      br
                      | 13:10
                    td.colspan(colspan="2")
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 Netflix
                        //- p by Matt
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                  
                  tr
                    td
                      | 13:10
                      br
                      | |
                      br
                      | 13:30
                    td.break(colspan="2") 休息
                  
                  tr
                    td
                      | 13:30
                      br
                      | |
                      br
                      | 14:10
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 Date Visualization performance optmazation
                        //- p by Will 保哥
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 TBD
                        //- p by Casear Chu
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube

                  tr
                    td
                      | 14:10
                      br
                      | |
                      br
                      | 14:40
                    td.break(colspan="2") 下午茶
                    
                  tr
                    td
                      | 14:40
                      br
                      | |
                      br
                      | 15:20
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 開發 Angular 2 網站好簡單之推坑就對了
                        //- p by 謝宗穎
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 TBD
                        //- p by 王唯達
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube

                  tr
                    td
                      | 15:20
                      br
                      | |
                      br
                      | 15:40
                    td.break(colspan="2") 休息

                  tr
                    td
                      | 15:40
                      br
                      | |
                      br
                      | 16:20
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 NIME: 使用 nodejs 快快樂樂開發輸入法
                        //- p by Paul Li
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    td
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 TBD
                        //- p by Evan Tseng
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube

                  tr
                    td
                      | 16:20
                      br
                      | |
                      br
                      | 16:40
                    td.break(colspan="2") 休息

                  tr
                    td
                      | 16:40
                      br
                      | |
                      br
                      | 17:20
                    td(colspan="2")
                      img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                      .speaker
                        h6 Lighting Talk
                        //- p by Paul Li
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                    //- td
                    //-   img.avatar.lazy(data-original="/dist/images/head.png", alt="amei")
                    //-   .speaker
                    //-     h6 TBD
                        //- p by Evan Tseng
                        //- a(href="#" target='_blank').label.label-info Slider
                        //- a(href="#" target='_blank').label.label-danger Youtube
                  tr
                    td
                      | 17:20
                      br
                      | |
                      br
                      | 18:00
                    td.break(colspan="2") 散場
                    
    script.
      (function($) {
        
        $('#nav-agenda').addClass('active');

        if ($('#agenda-list').length){
          $(document).scroll(function () {
            var dist = $('#agenda-list').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
