extends ../../views/layout/_en-layout.jade

block title
  title Sponsors 2016

block content

  include ./partials/_nav

  main.sponsors-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 Sponsors

    section#sponsor
      .container

        article.sponsor-golden
          .row
            .col-xs-12
              h2.sponsor-header GOLD

            .col-xs-12
              .sponsor
                .logo
                  img.image.lazy(style="width: 100%;" data-original="/dist/images/sponsors/unizyx.jpg", alt="合勤控")
                .info
                  h2#sponsor-unizyx 合勤控
                  p 合勤基金會希望將合勤投資控股公司及旗下子公司合勤科技、盟創科技等公司之共同信念─「推動創新與創業」及「力行社會公益」藉由合勤基金會的成立向外拓展，持續努力。合勤基金會主要關注「跨界創新」，與青年學子與創業家接軌，期以開拓的視野與無框架的創意思考，激發突破自我的能量與火花；並深耕「創新思維」、「創業育成」與「友善環境」三大面向，期望自己成為火種，拋磚引玉的展現回饋社會的企業精神。

            .col-xs-12
              .sponsor
                .logo
                  img.image.lazy(style="width: 100%;" data-original="/dist/images/sponsors/meepShop.png", alt="meepShop")
                .info
                  h2#sponsor-meepshop meepShop
                  p 我們想要建立一個＂活＂的電子商務平台，並執行一場電子商務的革命。我們熱愛開發、創新，喜歡做出有趣令人驚豔的服務，meepShop 朝向發展「全球化」的公司邁進，目標是成為一個國際級的品牌，如同 Google、Dropbox 等服務，這個目標需要大家團結起來支持一整個團隊。 我們希望與各界最優秀的人才一同工作，並用聰明、有效率的工作模式，與加入的夥伴一同成長。團隊擁有聰明、快速、及執行力，由比利時的 CTO 帶領程式團隊，使用最好的工具和建立高品質的程式架構。

        //- article.sponsor-sliver
        //-   .row
        //-     .col-xs-12
        //-       h2.sponsor-header 銀級
        //-
        //-     .col-xs-12.col-sm-6
        //-       .sponsor
        //-         img.image.lazy(data-original="/dist/images/logo.png", alt="")
        //-         h2 LINE
        //-         p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
        //-
        //-     .col-xs-12.col-sm-6
        //-       .sponsor
        //-         img.image.lazy(data-original="/dist/images/logo.png", alt="")
        //-         h2 LINE
        //-         p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
        //-
        //- article.sponsor-bronze
        //-   .row
        //-     .col-xs-12
        //-       h2.sponsor-header 銅級
        //-
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .sponsor
        //-         img.image.lazy(data-original="/dist/images/logo.png", alt="")
        //-         h2 LINE
        //-         p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
        //-
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .sponsor
        //-         img.image.lazy(data-original="/dist/images/logo.png", alt="")
        //-         h2 LINE
        //-         p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
        //-
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .sponsor
        //-         img.image.lazy(data-original="/dist/images/logo.png", alt="")
        //-         h2 LINE
        //-         p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
        //-
        //- article.sponsor-thanks
        //-   .row
        //-     .col-xs-12
        //-       h2.sponsor-header 特別感謝
        //-
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .sponsor
        //-         img.image.lazy(data-original="/dist/images/logo.png", alt="")
        //-         h2 LINE
        //-         p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
        //-
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .sponsor
        //-         img.image.lazy(data-original="/dist/images/logo.png", alt="")
        //-         h2 LINE
        //-         p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
        //-
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .sponsor
        //-         img.image.lazy(data-original="/dist/images/logo.png", alt="")
        //-         h2 LINE
        //-         p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
        //-

    script.
      (function($) {

        $('#nav-sponsors').addClass('active');

        if ($('#sponsor').length){
          $(document).scroll(function () {
            var dist = $('#sponsor').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
