extends ./layout/_en-layout.jade

block title
  title VENUE｜JSDC 2016

block content

  include ./partials/_nav

  main.location-page
  
    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 VEenue Location

    section#location
      .container
        .row
          .col-xs-12
            h3.info.spot
              i.fa.fa-map-marker
              | Academia Sinica

            #map
              .mask-map
              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7913792829745!2d121.6118599!3d25.041153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab46b2f9a81f%3A0x74112a66e7796ca!2zMTE16Ie65YyX5biC5Y2X5riv5Y2A56CU56m26Zmi6Lev5LqM5q615Lit5aSu56CU56m26Zmi5Lq65paH56S-5pyD56eR5a246aSo!5e0!3m2!1szh-TW!2stw!4v1462977726575" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
          
            p.address
              | Academia Sinica Address: No. 128, Sec. 2, Academia Rd., Nankang, Taipei 115, Taiwan － Humanities and Social Science Building(HSSB) International Conference Hall ( 
              a(href="http://goo.gl/maps/tLZKX") Google Map 
              | ) 

          .col-xs-12
            .transportation
              header.major
                h2 Transportation

              article.drive
                h3 By Car
                p 
                  | Cars can directly go into AS campus with visitor registration at the main entrance. Visitor parking lot is located on B2 of the Humanities and Social Sciences Building (HSSB). Parking fee is NT$ 20 per hour.
                  a(href="http://proj1.sinica.edu.tw/~gao1018/rule_6.htm") ( Announcement )

              article.metro
                h3 By Metro (MRT)
                p There are two possible routes to the venue:
                ol
                  li 
                    | Take Line 5 (Bannan Line) to
                    span Nangang Exhibition Center Station (Exit 2)
                    | , then take bus 205, 212, 276, 306, 620, 645, 679, S1, S5, or S12 to Academia Sinica Stop.
                  li 
                    | Take Line 5 (Bannan Line) to
                    span  Nangang Station (Exit 1)
                    | , then take bus 212, 270 or Blue 25 to Academia Sinica Stop.
                p You could take a taxi instead of a bus with an average NT$ 80 fare. More info on MRT official site.

              article.bus
                h3 By City Bus
                p Take 205, 212, 212-Straight Line, 270, 270 (Shuttle), 276, 306, 306 (Shuttle), 620, 645, 645 (Extended), S1, S12, S12 (Shuttle), S5, BL25, and get off at Academia Sinica stop. City bus fare is either NT$ 15 or 30 (less than US$ 1), which depends on your distance and can be paid by either EasyCard or cash.

              article.note
                p 
                  | For more information, please refer to
                  a(href="http://www.sinica.edu.tw/location.htm")  here
                  | 。

    script.
      (function($) {
        
        $('#nav-venue').addClass('active');

        if ($('#location').length){
          $(document).scroll(function () {
            var dist = $('#location').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
