-
  //- name: 講者名字, description: 作者介紹, image: 照片
  // ## option ##
  //- title: 公司/組織, avatarTip: title 去空白
  //- 額外連結們: github, twitter, link, linkedin

  var speakers = [
    {
      name: "Alex Liu",
      description: "",
      image: "/dist/images/speakers/alex-liu.png",
      title: "Netflix",
      github: undefined,
      link: undefined,
      avatarTip: "Netflix",
    }, {
      name: "Blake Newman",
      description: "",
      image: "/dist/images/speakers/blake-newman-render.png",
      title: "Sainsbury's",
      github: undefined,
      link: undefined,
      avatarTip: "Sainsbury's",
    }, {
      name: "李成銀",
      description: "",
      image: "/dist/images/speakers/li-cheng-yin.png",
      title: "奇舞團",
      github: undefined,
      link: undefined,
      avatarTip: "奇舞團",
    }, {
      name: "Isken Huang",
      description: "專注於 UI、使用體驗的開發者。",
      image: undefined,
      title: "Alibaba Group",
      github: "https://github.com/iskenhuang",
      link: undefined,
      avatarTip: "AlibabaGroup",
    }, {
      name: "Jim Chang (吉姆)",
      description: "現任趨勢科技前端工程師，認為藉由資訊技術改變人類的生活是一件很酷的事，前Fuhu前端工程師，前好房網前端工程師。",
      image: "/dist/images/speakers/jim.JPG",
      title: "趨勢科技",
      github: undefined,
      link: undefined,
      avatarTip: "趨勢科技",
      notSet: true,
    }, {
      name: "Jong-Shian Wu",
      description: "一位隨處可見的碼農。對密碼學、資訊安全、程式語言、軟體工程等主題有很深的興趣。",
      image: "/dist/images/speakers/jong-shian-wu.jpg",
      title: "臺灣大學快速密碼學實驗室",
      github: undefined,
      link: "https://jong.sh/",
      avatarTip: "臺灣大學快速密碼學實驗室",
    }, {
      name: "Jose",
      description: "林思吾，阿物。從大學開始創業的連續創業者，現任台灣SEO領導品牌awoo台灣前進創辦人，多次代表台灣擔任SES與SMX中國站演講人，亦是台北市政府資訊局的市政顧問。他善於結合SEO與UX的策略，替客戶不僅帶來精準的流量，並且讓流量能更實際轉換成營收，進而創造出許多投資報酬率超過10的電商案例。除了在商業場域之外，他也將網路專業運用在公民參政，陸續參與了改變台灣的318學運與2014年的台灣臺北市長選舉。",
      image: "/dist/images/speakers/jose.jpg",
      title: "awoo 台灣前進有限公司",
      github: undefined,
      link: "http://www.awoo.com.tw/",
      avatarTip: "awoo台灣前進有限公司",
    }, {
      name: "kidwm",
      description: "待在廣告產業的前端工程師，常出沒於 MozTW 與 f2eTW 以及 React 社群",
      image: "/dist/images/speakers/kidwm.jpeg",
      title: "Pokémon Mystic Team",
      github: "https://github.com/kidwm",
      avatarTip: "PokémonMysticTeam",
    }, {
      name: "Lee",
      description: "一位上班被 Pointer 荼毒、下班陷入 Callback 地獄的工程師。熱愛開放文化、公民科技，閒暇之餘在 g0v 零時政府出沒填坑。",
      image: "/dist/images/speakers/lee.jpg",
      title: "--",
      github: "https://github.com/jessy1092",
      twitter: "https://twitter.com/jessylee1092",
      linkedin: "https://tw.linkedin.com/in/lee-chun-wei-b507556a",
      avatarTip: "--",
    // },{
    //   name: "王景弘(TonyQ)",
    //   description: "JavaScript.tw 技術社群發起人，資深網站系統工程師，熱愛開發以終端使用者為導向的資訊應用系統。",
    //   image: "/dist/images/speakers/tonyQ.jpg",
    //   title: "--",
    //   github: "http://github.com/tony1223/",
    //   link: undefined,
    //   avatarTip: "--",
    }, {
      name: "Tomas Lin",
      description: "四年多前突發對軟體開始感到興趣就進入軟體行業(跳坑)，從PHP、Flask、Nodejs一直到近一年開始玩React、React Native，目前主力在React Native 水深火熱中，偶而會客串寫一下Nodejs API，喜歡參與開源與黑客松活動。",
      image: "/dist/images/speakers/tomas-lin.jpg",
      title: "台雲資訊",
      github: "https://github.com/horsekitlin",
      link: undefined,
      avatarTip: "台雲資訊",
    }, {
      name: "Wildcat",
      description: "awoo 台灣前進顧問、ContentParty 合夥人、資策會 SER API 協力者",
      image: "/dist/images/speakers/wildcat.png",
      title: "awoo 台灣前進有限公司",
      github: undefined,
      link: undefined,
      avatarTip: "awoo台灣前進有限公司",
    }, {
      name: "洪名辰",
      description: "熱愛工作、專注於用戶體驗的全棧工程師",
      image: "/dist/images/speakers/hong.jpg",
      title: "--",
      linkedin: "https://www.linkedin.com/in/%E5%90%8D%E8%BE%B0-%E6%B4%AA-702623b7?trk=nav_responsive_tab_profile",
      twitter: "https://twitter.com/JwindHong",
      avatarTip: "--",
    }, {
      name: "劉艾霖",
      description: "平常寫後端的程式居多，偶而會去前端打打雜，近年深受 clean code 所感化，致力於寫出可讀性高且易維護的 code。覺得興趣跟工作相符的我是很幸運的人，但在有趣的事也無法跳脫邊際效用遞減法則，除了 coding 之外也是一個初級班的背包客，努力追求生活與工作平衡的遠端工程師 / 遊牧工程師，希望未來台灣可以有越來越多的遠端工作。",
      image: "/dist/images/speakers/alin.jpg",
      title: "VMFive",
      github: "http://www.github.com/alincode",
      linkedin: "https://www.linkedin.com/in/alincode",
      avatarTip: "VMFive",
    }, {
      name: "劉俊彥(Vincent)",
      description: "香港工程師，現旅居於台。熱衷於把科技應用於人文、樂於參與開源文化和公民開發社群。Code for Hong Kong和Javascript@HK創辦人、從銀行離職後在不同Startup如OneSky、端傳媒當各種工程師，前端後端、數據分析和NLP都感興趣。會點日文德文，閒時寫點文章。",
      image: "/dist/images/speakers/vincent.png",
      title: "Terminal 1",
      github: "https://github.com/vincentlaucy",
      twitter: "https://twitter.com/vincent_lcy",
      linkedin: "https://www.linkedin.com/in/chun-yin-vincent-lau-45347610",
      avatarTip: "Terminal1",
    }, {
      name: "李欣龍(山姆大叔)",
      description: "喜歡前端技術的工作者，希望 Javascript 統一天下，淺草籤 App 的開發者，現任趨勢科技前端工程師。",
      image: "/dist/images/speakers/sam-lee.jpg",
      title: "趨勢科技",
      github: "https://github.com/leeabc",
      avatarTip: "趨勢科技",
    }, {
      name: "XP Steven",
      description: "",
      image: undefined,
      title: "--",
      github: undefined,
      link: undefined,
      avatarTip: "--",
    }, {
      name: "保哥",
      description: "",
      image: "/dist/images/speakers/will.jpg",
      title: "--",
      github: undefined,
      link: undefined,
      avatarTip: "--",
    },
  ];

  var agendas = {
    "day_1": [
      {
        type: "break",
        startTime: "09:00",
        endTime: "09:30",
        agendaTitle: "報到"
      }, {
        type: "break",
        startTime: "09:30",
        endTime: "09:40",
        agendaTitle: "大會開場",
      }, {
        type: "single",
        startTime: "09:40",
        endTime: "10:30",
        name: undefined,
        image: undefined,
        youtube: undefined,
        slider: undefined,
        agendaTitle: "TBD",
      },
      //- {type: "single", startTime: "09:40", endTime: "10:30",
      //-   name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "Anglar 2 Universal"},

      {
        type: "break",
        startTime: "10:30",
        endTime: "10:50",
        agendaTitle: "點心"
      }, {
        type: "multiple",
        startTime: "10:50",
        endTime: "11:30",
        name_A: "XP Steven",
        image_A: undefined,
        youtube_A: undefined,
        slider_A: undefined,
        agendaTitle_A: "超融合 React",
        name_B: "Jose & Wildcat",
        image_B: "/dist/images/speakers/jose-and-wildcat.png",
        youtube_B: undefined,
        slider_B: undefined,
        agendaTitle_B: "JavaScript 的 SEO 奧義",
      },

      {
        type: "break",
        startTime: "11:30",
        endTime: "12:20",
        agendaTitle: "午餐",
      }, {
        type: "single",
        startTime: "12:20",
        endTime: "13:10",
        name: "李成銀 (奇舞團)",
        image: "/dist/images/speakers/li-cheng-yin.png",
        youtube: undefined,
        slider: undefined,
        agendaTitle: "ThinkJS - 使用 ES2015+ 特性開發 Node.js 項目",
        description: "1.Node.js 對 ES2015+ 特性支持越来越好，使用新特性開發項目带来具大的便利 2.ThinkJS 特性：使用 ES2015+ 全部特性，自動編譯、自動更新 3.與Koa 簡單對比",
      },

      {
        type: "break",
        startTime: "13:10",
        endTime: "13:30",
        agendaTitle: "休息",
      }, {
        type: "multiple",
        startTime: "13:30",
        endTime: "14:10",
        name_A: "Isken Huang",
        image_A: undefined,
        youtube_A: undefined,
        slider_A: undefined,
        agendaTitle_A: "Weex 輕量級高性能跨終端框架",
        description_A: "Weex 是一套跨終端的 UI 開發框架，提供了一次撰寫產生 Web, iOS, Android 三端一致的 UI，並且以 JS 作為 UI 開發語言，一次性開發提昇整體效率。",
        name_B: "Jong-Shian Wu",
        image_B: "/dist/images/speakers/jong-shian-wu.jpg",
        youtube_B: undefined,
        slider_B: undefined,
        agendaTitle_B: "OTP 已死 U2F 永存：JavaScript U2F 兩步驟驗證實戰",
        description_B: "使用傳統密碼的線上使用者身分認證有易用性與安全性之問題，近年來已經造成了人們巨大的損失。然而 App 或簡訊 OTP 等補救措施也未能徹底解決那些問題。此講題會介紹 U2F 這套兩步驟驗證標準。該標準提供了高安全性與優良使用者體驗的規範，目前已經被 Google、Dropbox、GitHub 等線上服務所部署。我會分享我開發一款伺服器端 U2F 函式庫的經驗，我也會分享我以 JavaScript 實作的一款 U2F 虛擬硬體，讓有興趣的玩家可以在自己的 Linux 電腦上進行各種實驗。",
      },
      {
        type: "break",
        startTime: "14:10",
        endTime: "14:40",
        agendaTitle: "下午茶",
      }, {
        type: "multiple",
        startTime: "14:40",
        endTime: "15:20",
        name_A: "劉艾霖",
        image_A: "/dist/images/speakers/alin.jpg",
        youtube_A: undefined,
        slider_A: undefined,
        agendaTitle_A: "淺談網站自動化測試 - 以 WebdriverIO 框架為例",
        description_A: "隨著前端工程逐漸被重視，前端測試當然也不會缺席，以 WebdriverIO 框架為例，但概念通用於所有前端測試框架，快速帶大家了解前端測試，及可以做到什麼樣的地步，透過現代化的前端測試框架、一些 Pattern 、工具，來建立易維護擴充的測試程式，及講者的經驗分享。",
        name_B: "劉俊彥(Vincent)",
        image_B: "/dist/images/speakers/vincent.png",
        youtube_B: undefined,
        slider_B: undefined,
        agendaTitle_B: "fbreactions.io - 用AWS Lambda 爬數據視覺化",
        description_B: "香港台灣每天的心情如何？這個開源項目把FB媒體專頁的「心情」(Reaction)數據用視覺化呈現，從爬資料到視覺化都是Javascript (NodeJs / React / D3.js)。這演講將會簡介該架構，從而重點介紹當中爬資料所運用的AWS Lambda (Serverless Architecture)，相關工具、使用的時機和優劣。",
      },
      {
        type: "break",
        startTime: "15:20",
        endTime: "15:40",
        agendaTitle: "休息",
      }, {
        type: "multiple",
        startTime: "15:40",
        endTime: "16:20",
        name_A: "洪名辰",
        image_A: "/dist/images/speakers/hong.jpg",
        youtube_A: undefined,
        slider_A: undefined,
        agendaTitle_A: "Universal JavaScript?",
        description_A: "Universal(Isomorphic) JavaScript 大概是過去一年來最紅的技術名詞之一，但真的已經把這項技術用在產品上的公司少之又少，網路上的學習資源也不甚完整，導致多數的開發者其實對於 Universal JavaScript 停留在理論層面，很難對 Universal JavaScript 在實務上的開發一探究竟。 究竟 Universal JavaScript 是否有必要？採用 Universal JavaScript 對開發上有什麼實質的影響？在開發的過程中會遇到什麼問題？ 最後到底用了 Universal JavaScript 又有什麼優勢呢？",
        name_B: "Tomas Lin",
        image_B: "/dist/images/speakers/tomas-lin.jpg",
        youtube_B: undefined,
        slider_B: undefined,
        agendaTitle_B: "React Native - dispatch route like web uri",
        description_B: "在 React Native 中簡易的 Route system 讓 dispatch 就像 web url 一般的容易",
      },
      {
        type: "break",
        startTime: "16:20",
        endTime: "16:40",
        agendaTitle: "休息"
      }, {
        type: "single",
        startTime: "16:40",
        endTime: "17:20",
        name: undefined,
        image: undefined,
        youtube: undefined,
        slider: undefined,
        agendaTitle: "Panel",
      }, {
        type: "break",
        startTime: "17:20",
        endTime: "18:00",
        agendaTitle: "散場",
      }
    ],
    "day_2": [
      {
        type: "break",
        startTime: "09:00",
        endTime: "09:30",
        agendaTitle: "報到",
      }, {
        type: "break",
        startTime: "09:30",
        endTime: "09:40",
        agendaTitle: "大會開場",
      }, {
        type: "single",
        startTime: "09:40",
        endTime: "10:30",
        name: "Blake Newman (Sainsbury's)",
        image: "/dist/images/speakers/blake-newman-render.png",
        youtube: undefined,
        slider: undefined,
        agendaTitle: "How to adapt to change & exploring Vue.js",
        description: "What is this new Library and what is it solving? JavaScript has evolved rapidly and it's difficult to keep up. We will look at better practises to ensure you can adapt to change and how Vue.js can help you now and in the future.",
      },

      {
        type: "break",
        startTime: "10:30",
        endTime: "10:50",
        agendaTitle: "點心",
      }, {
        type: "multiple",
        startTime: "10:50",
        endTime: "11:30",
        name_A: undefined,
        image_A: undefined,
        youtuAe_A: undefined,
        slider_A: undefined,
        agendaTitle_A: "TBD",
        // name_A: "王景弘(TonyQ)",
        // image_A: "/dist/images/speakers/tonyQ.jpg",
        // youtube_A: undefined,
        // slider_A: undefined,
        // agendaTitle_A: "專案技術挑選案例探討",
        // description_A: "眾多 framework 與專案架構，常常有讓人眼花繚亂的感受，幾乎每個月都會有人問，我是要選 ooo 或 xxx，用 aaa 或 bbb。承接 2013 年的 MVC framework 比較的講題，想再深入的來談談具體而言，檯面上這些工具他的目標是什麼跟他適合用來解決什麼問題。目標是希望大家不要陷入「單一工具好棒棒」的迷思，而能夠針對具體需求跟團隊成員的程度，來做工具規劃",
        name_B: "李欣龍(山姆大叔)",
        image_B: "/dist/images/speakers/sam-lee.jpg",
        youtube_B: undefined,
        slider_B: undefined,
        agendaTitle_B: "React Native + Redux 簡單也不簡單",
        description_B: "React Native 大幅降低開發 Mobile 的成本，Redux 簡化了開發的架構，但實際上真的有那麼簡單嗎？",
      },
      {
        type: "break",
        startTime: "11:30",
        endTime: "12:20",
        agendaTitle: "午餐",
      }, {
        type: "single",
        startTime: "12:20",
        endTime: "13:10",
        name: "Alex Liu (Netflix)",
        image: "/dist/images/speakers/alex-liu.png",
        youtube: undefined,
        slider: undefined,
        agendaTitle: "CodexJS: a conditional module bundler",
        description: "Node.js 協助 Netflix 解決的什麼問題? 或是遇到了什麼問題?",
      },

      {
        type: "break",
        startTime: "13:10",
        endTime: "13:30",
        agendaTitle: "休息",
      }, {
        type: "multiple",
        startTime: "13:30",
        endTime: "14:10",
        name_A: "Jim Chang (吉姆)",
        image_A: "/dist/images/speakers/jim.JPG",
        youtube_A: undefined,
        slider_A: undefined,
        agendaTitle_A: "Data Visualization performance optimization",
        description_A: "Graph Visualization 的應用範圍從基因鏈，資訊安全至社交網絡層面相當廣泛。 而效能問題又是這類視覺化圖形常見的問題，如何量測？如何藉由前後端整合增進效能？是我們要解決的問題。",
        name_B: undefined,
        image_B: undefined,
        youtube_B: undefined,
        slider_B: undefined,
        agendaTitle_B: "TBD",
      },
      {
        type: "break",
        startTime: "14:10",
        endTime: "14:40",
        agendaTitle: "下午茶",
      }, {
        type: "multiple",
        startTime: "14:40",
        endTime: "15:20",
        name_A: "保哥",
        image_A: "/dist/images/speakers/will.jpg",
        youtube_A: undefined,
        slider_A: undefined,
        agendaTitle_A: "開發 Angular 2 網站好簡單之推坑就對了",
        name_B: "kidwm",
        image_B: "/dist/images/speakers/kidwm.jpeg",
        youtube_B: undefined,
        slider_B: undefined,
        agendaTitle_B: "Metaprogramming in ES2015",
        description_B: "ES2015 提供了 Symbols, Reflect, Proxies 等各項與其他語言類近的底層 Metaprogramming 功能，讓 Class 與 Object 能有更多增強的變化。",
      },
      {
        type: "break",
        startTime: "15:20",
        endTime: "15:40",
        agendaTitle: "休息",
      }, {
        type: "multiple",
        startTime: "15:40",
        endTime: "16:20",
        name_A: "Lee",
        image_A: "/dist/images/speakers/lee.jpg",
        youtube_A: undefined,
        slider_A: undefined,
        agendaTitle_A: "NIME: 使用 nodejs 快快樂樂開發輸入法",
        description_A: "NIME 是把 PCMan 在 2015 年發佈的 PIME 輸入法平台移植到 nodejs 上，讓開發者可以使用 nodejs 來開發 windows 輸入法，本議程將會分享開發過程的心得與介紹如何使用 NIME 平台來開發 windows 輸入法。",
        name_B: undefined,
        image_B: undefined,
        youtube_B: undefined,
        slider_B: undefined,
        agendaTitle_B: "TBD",
      },
      {
        type: "break",
        startTime: "16:20",
        endTime: "16:40",
        agendaTitle: "休息",
      }, {
        type: "single",
        startTime: "16:40",
        endTime: "17:20",
        name: undefined,
        image: undefined,
        youtube: undefined,
        slider: undefined,
        agendaTitle: "Lighting Talk",
      }, {
        type: "break",
        startTime: "17:20",
        endTime: "18:00",
        agendaTitle: "散場",
      }
    ]
  };

  var sponsorLevels = {
    "golden": {
      "zh": "金級",
      "en": "GOLD",
    },
    "sliver": {
      "zh": "銀級",
      "en": "SLIVER",
    },
    "bronze": {
      "zh": "銅級",
      "en": "BRONZE",
    },
    "thanks": {
      "zh": "特別感謝",
      "en": "SPECIAL THANKS",
    },
  };

  var sponsors = {
    "golden": [
      {
        name: "合勤控",
        description: "合勤基金會希望將合勤投資控股公司及旗下子公司合勤科技、盟創科技等公司之共同信念─「推動創新與創業」及「力行社會公益」藉由合勤基金會的成立向外拓展，持續努力。合勤基金會主要關注「跨界創新」，與青年學子與創業家接軌，期以開拓的視野與無框架的創意思考，激發突破自我的能量與火花；並深耕「創新思維」、「創業育成」與「友善環境」三大面向，期望自己成為火種，拋磚引玉的展現回饋社會的企業精神",
        image: "/dist/images/sponsors/unizyx.jpg",
      }, {
        name: "meepShop",
        description: "我們想要建立一個＂活＂的電子商務平台，並執行一場電子商務的革命。我們熱愛開發、創新，喜歡做出有趣令人驚豔的服務，meepShop 朝向發展「全球化」的公司邁進，目標是成為一個國際級的品牌，如同 Google、Dropbox 等服務，這個目標需要大家團結起來支持一整個團隊。 我們希望與各界最優秀的人才一同工作，並用聰明、有效率的工作模式，與加入的夥伴一同成長。團隊擁有聰明、快速、及執行力，由比利時的 CTO 帶領程式團隊，使用最好的工具和建立高品質的程式架構。",
        image: "/dist/images/sponsors/meepShop.png",
      },
    ],
  };
