extends ./layout/_layout.jade

block content
  
  //- Header
  section#header
    .container
      .inner
        .title
          h1 JSDC 2016
          h2 JavaScript 核心概念與整合實戰
          h5.cd-headline.letters.type
            span Build&nbsp;
            span.cd-words-wrapper.waiting
              b.is-visible Anything 
              b Website 
              b Webapp 
              b Mobile App 
              b Arduino 
              b Raspberry Pi 
              b Robot 
            span with JavaScript
        p.c-bold.c-font-white 今年 10 月，強勢登場
        span
          i.fa.fa-map-marker
          | 中央研究院 人文社會科學館
        ul.actions
          li
            a.button(href='#about') Discover

  section#about
    #about-line
    .container
      .row#about-jsdc
        .col-xs-12.col-md-7
          header.major
            h2 What's JSDC ?
          p JavaScript 開發者年會 (JavaScript Developers Conference，簡稱 JSDC) 是台灣最⼤的 JavaScript 年度性技術研討會，旨在提供台灣中⾼階 JavaScript 技術人才與世界最新 JavaScript 相關技術討論與分享。
        .col-xs-12.col-md-5
          img.image.img-responsive.lazy(data-original='./dist/images/jsdc-spot.jpg', alt='JSDC 2015 現場')

      .row
        .col-xs-12.paragraph
          header.major.text-center
            h2 JavaScript 開發者年會
          p.text-center
            | JSDC 打破了壁壘，整合來自獨立開發者、企業、組織及機構的科技力量。
          p.text-center
            | 我們致力於知識全球化，並讓參與者重新認識 JavaScript。
          .text-center
            .fb-share-button(data-href='http://2016.jsdc.tw/zh_tw/' data-layout='button_count')
            include partials/_fb-share
        .col-xs-12
          img.image.fit.lazy(data-original='./dist/images/jsdc-2015.jpg', alt='JSDC 2015 工作人員')
          
  section#speaker
    #speaker-line
    .container
      .row
        .col.xs-12.text-center
          a.typeform-share.typeform-button.c-bold(href="https://jsdc2015.typeform.com/to/JIc9v2" data-mode="1" target="_blank") 成為講師

  section#last-year
    .container
      .row
        .col-xs-12.col-sm-6
          .last-photo.lazy(data-original='./dist/images/jsdc-last-photo.jpg')
            .last-content
              h1.major.text-center.c-font-white JSDC 2015
              a.button.c-font-white(href='https://www.flickr.com/photos/jsdc2014/sets/72157659891046216' target='_blank') Photo
        .col-xs-12.col-sm-6
          .last-video.lazy(data-original='./dist/images/jsdc-last-video.jpg')
            .last-content
              h1.major.text-center.c-font-white 精彩回顧
              a.button.c-font-white(href='https://www.youtube.com/user/JSDCTW' target='_blank') Video
  
  section#sponsor
    #sponsor-line
    .container
      .row
        .col.xs-12.text-center
          header.major
            h2 JSDC 2016 年度贊助
          a.typeform-share.typeform-button.c-bold(href="https://jsdc2015.typeform.com/to/dgmSSy" data-mode="1" target="_blank") 贊助我們
