extends ./layout/_layout.jade

block content
  
  //- Header
  section#header
    .container
      .inner
        h1 JSDC 2016
        p 今年 10 月，強勢登場
        span
          i.fa.fa-map-marker
          | 中央研究院 人文社會科學館
        ul.actions
          li
            a.scrolly(href='#about') Discover

  section.main#about
    .container
      .row
        .col-xs-12.col-md-8.paragraph
          header.major
            h2 What's JSDC ?
          p JavaScript 開發者年會 ( JavaScript Developers Conference，簡稱 JSDC ) 是台灣最⼤的 JavaScript 年度性技術研討會，旨在提供台灣中⾼階 JavaScript 技術人才與世界最新 JavaScript 相關技術討論與分享。同時帶動各界廠商的合作與中高階技術⼈才的媒合，創造雙贏的正向循環。
        .col-xs-12.col-md-4
          img.image.img-responsive(src='./dist/images/jsdc-spot.jpg', alt='')
      .row
        .col-xs-12.paragraph
          header.major.text-center
            h2 JavaScript 開發者年會
          p.text-center JSDC 打破了壁壘，整合來自獨立開發者、企業、組織及機構的科技力量。我們致力於知識全球化，並讓參與者重新認識 JavaScript。
          .col-xs-12
            img.image.fit(src='./dist/images/jsdc-2015.jpg', alt='')

  section.main#community
    .container
      .row
        .col.xs-12
          header.major.text-center
            h2 台灣的 JavaScript 相關社群
      .row
        .col.xs-12
          ul.actions.text-center
            li
              a.button(href="https://www.facebook.com/groups/javascript.tw/") JavaScript.tw
            li
              a.button(href="https://www.facebook.com/groups/augularjs.tw/") AngularJS.tw
              
            li
              a.button(href="https://www.facebook.com/groups/node.js.tw/") node.js台灣
      .row
        .col.xs-12
          ul.actions.text-center
            li
              a.button(href="https://www.facebook.com/groups/f2e.tw/") Front-End Developers Taiwan
            li
              a.button(href="https://www.facebook.com/groups/htmlfive/") HTML5與CSS3在台灣                

  section.main#last-year
    .container
      header.major.text-center
        h2 JSDC 2015 精彩回顧
      .row
        .col-md-6
          h3 Photos
          ul.actions
            li
              a.button(href='#') More
        .col-md-6
          h3 Vedios
          ul.actions
            li
              a.button(href='#') More
  
  section.main#sponsor
    .container
      .row.text-center
        .col.xs-12
          header.major
            h2 JSDC 2016 年度贊助
          p 一些贊助宣傳用文字說明
          ul.actions.uniform
            li
              a.button.special(href='#') 贊助我們

  // Footer
  section#footer
    ul.copyright
      li © 2015 
       a(href="http://jsdc.tw") JSDC.tw

  // include ./partials/_footer