extends ./layout/_layout.jade

block content
  
  //- Header
  section#header
    .container
      .inner
        h1 JSDC 2016
        p.c-bold 今年 10 月，強勢登場
        span
          i.fa.fa-map-marker
          | 中央研究院 人文社會科學館
        ul.actions
          li
            a.button.c-font-white(href='#about') Discover

  section#about
    #about-line
    .container
      .row#about-jsdc
        .col-xs-12.col-md-8.paragraph
          header.major
            h2 What's JSDC ?
          p JavaScript 開發者年會 ( JavaScript Developers Conference，簡稱 JSDC ) 是台灣最⼤的 JavaScript 年度性技術研討會，旨在提供台灣中⾼階 JavaScript 技術人才與世界最新 JavaScript 相關技術討論與分享。
        .col-xs-12.col-md-4
          img.image.img-responsive.lazy(data-original='./dist/images/jsdc-spot.jpg', alt='JSDC 2015 現場')

      .row
        .col-xs-12.paragraph
          header.major.text-center
            h2 JavaScript 開發者年會
          p.text-center
            | JSDC 打破了壁壘，整合來自獨立開發者、企業、組織及機構的科技力量。
          p.text-center
            | 我們致力於知識全球化，並讓參與者重新認識 JavaScript。
          .text-center
            .fb-share-button(data-href='http://2016.jsdc.tw/zh_tw/' data-layout='button_count')
            include partials/_fb-share
        .col-xs-12
          img.image.fit.lazy(data-original='./dist/images/jsdc-2015.jpg', alt='JSDC 2015 工作人員')

  section#last-year
    .container-fluid
      .row
        .col-md-6.col-sm-6.col-xs-6.last-photo.lazy(data-original='./dist/images/jsdc-last-photo.jpg')
          .last-content
            h1.major.text-center.c-font-white JSDC 2015
            a.button.c-font-white(href='https://www.flickr.com/photos/jsdc2014/sets/72157659891046216' target='_blank') Photo
        .col-md-6.col-sm-6.col-xs-6.last-video.lazy(data-original='./dist/images/jsdc-last-video.jpg')
          .last-content
            h1.major.text-center.c-font-white 精彩回顧
            a.button.c-font-white(href='https://www.youtube.com/user/JSDCTW' target='_blank') Video
  
  section#sponsor
    .container
      .row.text-center#sponsor-content
        .col.xs-12
          header.major
            h2.c-font-white JSDC 2016 年度贊助
          a.button.c-bold(href='mailto:hq@jsdc.tw') 贊助我們
        
            
        //-   p.c-font-white
        //-     | 我們有各式各樣的贊助機會，
        //-     br 
        //-     | 請聯繫我們。
