extends ./layout/_layout.jade

block content

  main
  
    section#header
      .container
        .inner
          .title
            img.image.img-responsive.lazy(itemprop="image" data-original='./dist/images/jsdc-logo.png', alt='JSDC 2016')
            h2 JavaScript 
              span 核心概念與整合實戰
          .cd-headline.letters.type
            span Build 
            span.cd-words-wrapper.waiting
              b.is-visible Anything 
              b Website 
              b Webapp 
              b Mobile App 
              b Arduino 
              b Raspberry Pi 
              b Robot 
            span with JavaScript
          
          .sub-title
            p 10 月 22 - 23 日，強勢登場
            span
              i.fa.fa-map-marker
              | 中央研究院 人文社會科學館
              
          ul.actions
            li
              a.button(href='#news') Discover

    section#news
      #news-line
      .container
        .news-wrapper
          .row
            .col-xs-12
              header.major.text-center
                h2 最新消息
              
            .news-container
              .row
                .col-xs-12.news
                  .date
                    span.month Apr
                    | 01
                    span.year 2016
                  .news-content
                    h5.news-title 程式語言 20 萬教師，JSDC 解決需求
                    p.news-paragraph 因應程式語言融入課綱需求，JSDC 本著公開、開源、教育三位一體，將這兩年來打造的『JavaScript 教戰指導手冊』與教育部合 ...
                      a(href='http://blog.jsdc.tw/2016/04/01/jsdc-course-edu', target='_blank')  閱讀更多
                
                .col-xs-12.news
                  .date
                    span.month Oct
                    | 03
                    span.year 2015
                  .news-content
                    h5.news-title 致 JSDC 2015 與會人員
                    p.news-paragraph 首先，感謝各位參與 JSDC 2015 ，今日 (10/3) 後陸續有會眾呈現嘔吐、腹瀉的狀況，當下立即請醫護站護理人員協助處理，且在第一時間派車 ...
                      a(href='http://blog.jsdc.tw/2015/10/03/jsdc-event', target='_blank')  閱讀更多
              
                .col-xs-12.news
                  .date
                    span.month Sep
                    | 05
                    span.year 2015
                  .news-content
                    h5.news-title JSDC 2015 愛心 T-shirt 預售計畫
                    p.news-paragraph 每一年 JSDC　總是會有自己不同的主題，每一年都會有不同的風格與展現，在這次特別開放讓所有支持 JSDC 的朋友都能夠有機會購得每年度的限量設計款 ...
                      a(href='http://blog.jsdc.tw/2015/09/05/jsdc-tshirt', target='_blank')  閱讀更多
              
                .col-xs-12.news
                  .date
                    span.month Aug
                    | 26
                    span.year 2015
                  .news-content
                    h5.news-title 企業開源前端框架整合
                    p.news-paragraph 經過多年的發展，今年 HTML5 已制定完成，正式成為 W3C 推薦標準。加上 Mozilla 等組織付出的努力，open web 已經帶我們脫離了以往舊 IE 年代封閉的桎梏 ...
                      a(href='http://blog.jsdc.tw/2015/08/26/enterprise-frontend-approach', target='_blank')  閱讀更多
          
            .col-xs-12
              a.news-button.c-bold(href="http://blog.jsdc.tw/" target="_blank") 更多消息


    section#about
      #about-line
      .container
        #what-is-jsdc
          .row
            .col-xs-12.col-md-7
              header.major
                h2 What's JSDC ?
              p JavaScript 開發者年會（JavaScript Developers Conference，簡稱 JSDC）是台灣最⼤的 JavaScript 年度性技術研討會，旨在提供台灣中⾼階 JavaScript 技術人才與世界最新 JavaScript 相關技術討論與分享。
            .col-xs-12.col-md-5
              img.image.img-responsive.lazy(data-original='./dist/images/jsdc-spot.jpg', alt='JSDC 2015 現場')

        #about-jsdc
          .row
            .col-xs-12.paragraph
              header.major.text-center
                h2 JavaScript 開發者年會
              p.text-center
                | JSDC 打破了壁壘，整合來自獨立開發者、企業、組織及機構的科技力量。
              p.text-center
                | 我們致力於知識全球化，並讓參與者重新認識 JavaScript。
              .text-center
                .fb-share-button(data-href='http://2016.jsdc.tw/zh_tw/' data-layout='button_count')
                include partials/_fb-share
            .col-xs-12
              img.image.fit.lazy(data-original='./dist/images/jsdc-2015.jpg', alt='JSDC 2015 工作人員')
    
    section#location
      .container
        .row
          .col-xs-12.col-sm-6.col-md-4
            .information
              header.major
                h2 JSDC 2016
              h3.info.date
                i.fa.fa-calendar
                | 2016 / 10 / 22 - 23 
              h3.info.spot
                i.fa.fa-map-marker
                | 中央研究院
              p.address
                | 台北市南港區研究院路二段128號
                br
                | 人文社會科學館 國際會議廳
            
          .col-xs-12.col-sm-6.col-md-8
            #map  

    section#speakers
      #speakers-line
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 講者陣容
          .col-xs-12
            .speakers-container
              .owl-carousel#speaker-carousel
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
              .speaker-nav
                a.speaker-button.c-bold(href="./speakers.html" target="_blank") 講者列表
        
          .col-xs-12
            #agenda-line
            a.agenda-button.c-bold(href="./agenda.html" target="_blank")
              i.fa.fa-bolt 
              | 議程表
              i.fa.fa-bolt

    section#sponsor
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 合作夥伴
          
        .row
          .part_1
            .col-xs-12
              .sponsor-title
                h3 贊助
            
            .col-xs-12
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='LINE', data-balloon='LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
          
          .part_2
            .col-xs-12
              .sponsor-title
                h3 合作
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
          
          .part_3
            .col-xs-12
              .sponsor-title
                h3 特別感謝
                
            .col-xs-12.col-sm-6.col-md-3
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-3
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-3
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-3
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")


    section#activity
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 活動
          .col-xs-12
            .activity-container
              .owl-carousel#activity-carousel
                .item
                  .row
                    .col-xs-12.col-md-5
                      .activity-img
                        img.owl-lazy(data-src="./dist/images/jsdc-t-shirt.jpg", alt="JSDC T-Shirt")
                    .col-xs-12.col-md-7
                      .activity-description
                        h4.title JSDC T-Shirt
                        p.content 「Build anything with javascript」是JSDC2015的主題， 而「建構」就是此次主視覺的圖像核心， 具像與抽象的物件交錯，表達程式語言的無限可能，而中間的積木形，即是活動名稱JSDC字母的轉化， 它能夠組成亦能拆解，收放自如間建造世界。
                
                .item
                  .row
                    .col-xs-12.col-md-5
                      .activity-img
                        img.owl-lazy(data-src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                    .col-xs-12.col-md-7
                      .activity-description
                        h4.title JSDC 吉祥物登場！
                        p.content 今年我們很榮幸請到傲嬌的 Amei 擔任本年度的吉祥物！和它打卡即可兌換精美贈品。
                        
              .activity-nav

    section#staffs
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 工作人員
          .col-xs-12
            .staff-container
              #tabs
                ul
                  li
                    a(href='#plan') 策劃
                  li
                    a(href='#admin') 行政
                  li
                    a(href='#stage') 場務
                  li
                    a(href='#web') 網站
                    
                #plan
                  .row
                    .col-xs-12.col-sm-6
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 總召
                    .col-xs-12.col-sm-6
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 顧問
                #admin
                  .row
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 票卷
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 財務
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 公關
                #stage
                  .row
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 紀錄
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 場務
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 場務

                #web
                  .row
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 開發
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 開發
                    .col-xs-12.col-sm-4
                      .staff
                        img(src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                        h5.name Amei Chi 
                        p.title 設計
                        
    section#subscribe
      .container
        form.form-inline
          .row
            .col-xs-12.col-sm-7.col-md-6.col-md-offset-1
              input.form-control(type='email', placeholder='輸入 Email')
            .col-xs-12.col-sm-5.col-md-4
              input.form-control.subscribe-button(type='button', value='訂閱 JSDC 最新消息')
