extends ./layout/_layout.jade

block content

  nav.navbar
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-mobile', aria-expanded='false')
          i.fa.fa-bars
          
        a.navbar-brand(href='./index.html')
          img.image.img-responsive.lazy(itemprop="image" data-original='./dist/images/jsdc-logo.png', alt='JSDC 2016')

      .collapse.navbar-collapse#navbar-mobile
        ul.nav.navbar-nav
          li.active
            a(href='./speakers.html') 講者
          li
            a(href='./agenda.html') 議程
          li
            a(href='http://blog.jsdc.tw/' target="_blank") 部落格
  
  main.spaekers-page
  
    section#speakers-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 講者
            
    section#speakers-list
      .container
        .row
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='Amei', data-balloon='史上最強碼貓，不只會刪資料庫還會關機，平常最喜歡賣萌。')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
    section#agenda
      #agenda-line
      .container
        .row
          .col-xs-12
            a.agenda-button.c-bold(href="#" target="_blank")
              i.fa.fa-bolt 
              | 議程表
              i.fa.fa-bolt