section#activity
  .container
    .row
      .col-xs-12.text-center
        header.major
          h2 活動
      .col-xs-12
        .activity-container
          .owl-carousel#activity-carousel
            .item
              .row
                .col-xs-12.col-md-5
                  .activity-img
                    img.owl-lazy(data-src="/dist/images/jsdc-t-shirt.jpg", alt="JSDC T-Shirt")
                .col-xs-12.col-md-7
                  .activity-description
                    h4.title JSDC T-Shirt
                    p.content 「Build anything with javascript」是JSDC2015的主題， 而「建構」就是此次主視覺的圖像核心， 具像與抽象的物件交錯，表達程式語言的無限可能，而中間的積木形，即是活動名稱JSDC字母的轉化， 它能夠組成亦能拆解，收放自如間建造世界。

            .item
              .row
                .col-xs-12.col-md-5
                  .activity-img
                    img.owl-lazy(data-src="/dist/images/amei.jpg", alt="JSDC T-Shirt")
                .col-xs-12.col-md-7
                  .activity-description
                    h4.title JSDC 吉祥物登場！
                    p.content 今年我們很榮幸請到傲嬌的 Amei 擔任本年度的吉祥物！和它打卡即可兌換精美贈品。

          .activity-nav
