nav.navbar
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-mobile', aria-expanded='false')
        i.fa.fa-bars

      a.navbar-brand(href='./index.html')
        img.image.img-responsive.lazy(itemprop="image" src='/dist/images/jsdc-logo-125-35.png', alt='JSDC 2016')

    .collapse.navbar-collapse#navbar-mobile
      ul.nav.navbar-nav
        li#nav-about
          a(href='/en/about.html') ABOUT
        li#nav-venue
          a(href='/en/venue.html') VENUE
        li#nav-speakers
          a(href='/en/speakers.html') SPEAKER
        li#nav-agenda
          a(href='/en/agenda.html') AGENDA
        li#nav-sponsors
          a(href='/en/sponsors.html') SPONSOR
        li#nav-staffMember
          a(href='/en/staffMember.html') MEMBER
        li#nav-blog
          a(href='http://blog.jsdc.tw/' target="_blank") BLOG
        li#nav-fb-share
          .fb-share-button(data-href='http://2016.jsdc.tw/' data-layout='button_count')

      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') 中文

include _fb-share
