nav.navbar
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-mobile', aria-expanded='false')
        i.fa.fa-bars
        
      a.navbar-brand(href='./index.html')
        img.image.img-responsive.lazy(itemprop="image" src='/dist/images/jsdc-logo-125-35.png', alt='JSDC 2016')

    .collapse.navbar-collapse#navbar-mobile
      ul.nav.navbar-nav
        li#nav-about
          a(href='/en/about.html') 關於
        li#nav-venue
          a(href='/en/venue.html') 會場
        li#nav-speakers
          a(href='/en/speakers.html') 講者
        li#nav-agenda
          a(href='/en/agenda.html') 議程
        li#nav-sponsors
          a(href='/en/sponsors.html') 贊助夥伴
        li#nav-staffMember
          a(href='/en/staffMember.html') 工作人員
        li#nav-blog
          a(href='http://blog.jsdc.tw/' target="_blank") 部落格

      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') 中文
